.users-search {
  margin: 30px 0px 15px 0px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 15px;
  h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 4px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  span {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
    input {
      width: 100%;
      height: 100%;
      outline: none;
      background: #ffffff;
      border: 1px solid #ababab;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 0 10px;
    }
    svg {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      color: #747474;
      cursor: pointer;
    }
  }
  select {
    width: 100%;
    height: 40px;
    outline: none;
    background: #ffffff;
    border: 1px solid #ababab;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #747474;
  }
}
