.modal__overlay {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: -3px;
  left: 113px;
  z-index: 100000000000;
  overflow-y: scroll;
  padding: 100px 0;

  & > * {
    box-sizing: inherit;
  }

  .model {
    width: auto;
    height: auto;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0px 0px 87px rgba(48, 48, 48, 0.25);
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column !important;
    margin-left: auto !important;

    .model__header {
      display: flex;
      justify-content: flex-end;
      padding: 20px;

      img {
        cursor: pointer;
      }
    }
  }
}
