.head-sec {
  input[type='checkbox'] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 30px;
    vertical-align: middle;
    cursor: pointer;
    opacity: 0;
  }

  input[type='checkbox']:checked ~ span:before {
    background-color: #ffffff;
  }

  input[type='checkbox']:checked ~ span:after {
    top: 1px;
    left: 21px;
  }

  input[type='checkbox']:hover ~ span:before {
    background-color: #3db5eb;
  }

  input[type='checkbox']:not(:checked):hover ~ span:before {
    background-color: #afbec9;
  }

  input[type='checkbox']:focus ~ span:before {
    outline: none;
    box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.4);
  }
}

.product_model {
  padding: 15px;
  margin: 34px 30px;
  .up_img {
    height: 129px;
    width: 138px;
  }
  .product_span {
    margin-left: 95px;
    margin-top: 39px;
    h4 {
      margin-bottom: 10px;
    }
    label {
      display: inline-block;
      color: black;
      padding: 1rem;
      font-family: 'sans-serif';
      border-radius: 0.3rem;
      cursor: pointer;
      border: 1px solid gray;
    }
  }
  .stock-col {
    margin-left: -10px;
    margin-top: 39px;
    .input-form {
      width: 67% !important;
    }
  }
  .product-col {
    .input-product {
      width: 83%;
    }
  }

  .product-select {
    .input-select1 {
      width: 83%;
    }
    .select2 {
      margin-left: -5px;
      .input-select2 {
        width: 66%;
      }
    }
  }
  .btn-group-product {
    display: flex;
    width: 84% !important;
    .cancel-btn {
      font-family: 'Exo', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      border: none;
      background: none;
      margin-right: 2.5rem;
      color: #2837cd;
    }
    .save-btn {
      font-family: 'Exo', sans-serif;
      font-style: normal;
      background: #2837cd;
      color: #ffffff;
      padding: 10px 28px;
      border: none;
      border-radius: 2px;
      font-weight: 600;
    }
    .delete-btn {
      background: #e20000;
      color: #ffffff;
      padding: 10px 28px;
      border: none;
      border-radius: 2px;
      font-weight: 600;
    }
  }
  .areaText {
    width: 84%;
  }
}
