.product_model {
  padding: 15px;
  margin: 34px 30px;

  .up_img {
    height: 129px;
    width: 138px;
  }
  .product_span {
    label {
      display: inline-block;
      color: black;
      padding: 1rem;
      border-radius: 0.3rem;
      cursor: pointer;
      border: 1px solid gray;
    }
  }
  .stock-col {
    margin-left: -10px;
    margin-top: 39px;
    .input-form {
      width: 67% !important;
    }
  }
  .product-col {
    .input-product {
      width: 83%;
    }
  }

  .product-select {
    .input-select1 {
      width: 70%;
    }
    .select2 {
      margin-left: -5px;
      .input-select2 {
        width: 66%;
      }
    }
  }
  .btn-group-product {
    display: flex;
    width: 84% !important;
  }
  .areaText {
    width: 84%;
  }
}
.cancel-btn {
  font-weight: 600;
  border: none;
  background: none;
  border-radius: 2px;
  color: #2837cd;
  padding: 9px 27px;
}
.save-btn {
  background: #2837cd;
  color: #ffffff;
  padding: 10px 28px;
  border: none;
  border-radius: 2px;
  font-weight: 600;
}
.cancel-btn:hover {
  background-color: #2837cd;
  color: #ffffff;
}

.delete-btn {
  font-weight: 600;
  border: none;
  background: none;
  color: red;
  padding: 9px 10px;
}
.delete-btn:hover {
  background-color: red;
  color: white;
}
