.categories {
  .-title-content {
    font-size: 18px !important;
  }
  .ant-menu-title-content {
    font-size: 18px !important;
  }
  .ant-menu-submenu-title {
    // border-bottom: 1px solid rgb(218, 218, 218) !important;
    margin: 0;
    background-color: #fffac1 !important;
    border-radius: 4px;
  }

  .ant-menu-item {
    // border-bottom: 1px solid rgb(218, 218, 218) !important;
    margin: 0;
  }
  .add_newBtn {
    border: none;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-family: 'Exo', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    background: #fe7f00;
    border-radius: 8px;
    margin: auto;
    margin-top: 14px;
  }
  .edit_newBtn {
    border: none;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-family: 'Exo', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    background: #af03ff;
    border-radius: 8px;
    margin: auto;
    margin-top: 14px;
  }
}
.ant-menu-inline {
  border: none !important;
  margin: 0.3rem !important;
}
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  margin: 0.3rem !important;
}
