.modal-content {
  border: 1px solid #ababab;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.modal-header {
  border-bottom: 0;
}
.modal-footer {
  border: 0;
}
.cancel-btn {
  font-weight: 600;
  border: none;
  background: none;
  border-radius: 2px;
  color: #2837cd;
  padding: 9px 27px;
}
.save-btn {
  background: #2837cd;
  color: #ffffff;
  padding: 10px 28px;
  border: none;
  border-radius: 2px;
  font-weight: 600;
}
.cancel-btn:hover {
  border: 0.5px solid #2837cd;
}
