@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;700&display=swap');

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  background: #ffffff;
  font-weight: 700;
  .col-lg-5 {
    flex: 0 0 29.666667%;
    max-width: 41.666667%;
    min-width: 410px;
    height: 542px;
  }
  .col-10 {
    flex: 0 0 29.666667%;
    max-width: 41.666667%;
    height: 542px;
    min-width: 410px;
  }
  .h1-wrapper {
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 25px;
    color: #2837cd;
  }
  form {
    padding: 2.5rem 3rem;
    .reset-desc {
      margin-top: 92px;
      font-family: 'Exo', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      text-align: center;

      color: #000000;
    }
    .login-btn {
      background-color: #fe7f00;
      border-color: #fe7f00;
      color: white;
      margin-top: 2.5rem;
      padding: 12px 28px;
      border-radius: 16px;
      margin: auto;
    }
    .reset-btn {
      background-color: #fe7f00;
      border-color: #fe7f00;
      color: white;
      margin-top: 2.5rem;
      width: 220px;
      height: 44px;
      border-radius: 16px;
      margin: auto;
    }
    a {
      font-size: 0.9rem;
      color: grey;
    }
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}
