.editorWrapper {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: calc(95%);
  margin-left: auto;
  max-width: 1440px;
  margin-right: auto;
}
.ce-block__content {
  max-width: 100%;
  padding: 0.5rem 1rem;
}

// #editor-js-ky51olei {
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   padding: 0.5rem;
//   width: calc(100% - 3.75rem);
//   text-align: start;
//   max-width: 1440px;
// }
