.admin__dashboard {
  width: 100%;
  min-height: 100vh;

  .container {
    max-width: 1450px;
  }

  .admin__main {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 15px;

    .admin__section {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }
}

.admin__table-header {
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #424040;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(185, 206, 218, 0.21);
  padding: 20px 10px;
  display: grid;
  margin-bottom: 20px;

  span {
    display: inline-block;
    background: #f1faff;
    border-radius: 5px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;

    img {
      margin-left: 5px;
    }

    & + span {
      margin-left: 10px;
    }
  }
}

.admin__table-body {
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  color: #424040;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(185, 206, 218, 0.21);
  box-sizing: border-box;

  .btn-popular-add {
    cursor: pointer;
    background: green;
    padding: 2px;
    font-size: 12px;
    color: white;
  }
  .btn-popular-remove {
    cursor: pointer;
    background: rgb(85, 20, 1);
    padding: 2px;
    font-size: 12px;
    color: white;
  }

  .row {
    display: grid;

    & + .row {
      margin-top: 20px;
    }

    div {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 3px;
      word-break: break-all;

      select {
        border: none;
        background: transparent;
      }
    }
  }
}

.pagination {
  padding: 20px 0;
  display: flex;
  margin-bottom: 50px;
  margin-left: auto;

  span {
    &:first-child {
      margin-left: auto;
    }

    display: inline-block;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
  }
}
