.admin__sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  list-style: none;
  padding-left: 0;
  border: 1px solid #ababab;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  min-height: 90vh;
  margin-top: 33px;
  .sidebar__item {
    width: 100%;
    height: 70px;
    background: #ffffff;
    // box-shadow: 0px 0px 4px rgba(168, 155, 155, 0.25);
    border-radius: 6px;
    // margin-top: 10px;

    &.active {
      // background: #f1faff;
      background: #b9deff;
      border-radius: 0;
    }

    a {
      width: 100%;
      height: 100%;
      padding: 20px;
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #424040;
      text-decoration: none;

      img {
        margin-right: 10px;
      }
    }
  }
}
